.floatingBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg {
  background-color: #fff;
}

.h {
  height: 30px;
}

@font-face {
  font-family: 'ali';
  src: url('../assets/2tvnR88VBtTj.woff2') format('woff2'),
    url('../assets/2tvnR88VBtTj.woff') format('woff');
  font-display: swap;
}

.aliSpan {
  font-family: 'ali';
}

.holidayColor{
  color: rgba(228, 61, 46, 0.894);
}

.expdayColor{
  color:#00bbff
}

.onlineDayColor{
  color: rgb(9, 133, 9);
}

.title{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-start;
}